
body {

   color: #000101;
 }
 
 h1 {
   text-align: center;
   padding: 20px;
   background-color: rgba(33, 220, 208, 0.992);
   border-radius: 5px;
 }
 
 button#loadMovies {
   background-color: #3aa6cd;
   color: #fff;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   border-radius: 5px;
   margin: 20px;
 }
 
 ul#moviesList {
   list-style: none;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }
 
 ul#moviesList li {
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 5px;
   padding: 10px;
   margin: 10px;
   width: 300px;
   text-align: center;
 }
 
 ul#moviesList li h2 {
   margin: 0;
   padding: 0;
   font-size: 24px;
 }
 
 ul#moviesList li p {
   margin: 10px 0;
   font-size: 18px;
 }